<html>
	<body>
		<table style="text-align:center;border-spacing:0px;font-family:Ubuntu Mono">
			<tr>
				<% command.each { %>
					<td style="padding:0px"><pre>${it}</pre></td>
				<% } %>
			</tr>
			<tr>
				<% m.inject(0) {current,it -> %>
					<% while(current < it.start) { %><td></td><%current += 1;}%>
					<td colspan="${it.end - it.start}" style="border-bottom:1px solid;border-left:1px solid;border-right:1px solid;"></td>
					<% current+=it.end - it.start %>
					<% return current %>
				<% } %>
			</tr>
			<tr style="font-size:10px">
				<% def index = 1
				   m.inject(0) {current,it -> %>

					<% while(current < it.start) { %><td></td><%current += 1;}%>
					<td colspan="${it.end - it.start}">${index++}</td>
					<% current+=it.end - it.start %>
					<% return current %>
				<% } %>
			</tr>
		</table>
		
		<% m.eachWithIndex {it,i -> %>
			<div><span style="float:left">${i+1}</span><pre style="margin-left:2em">${it.explain}</pre></div>
		<% } %>
	</body>

</html>
